#startingPLAY {
  display: inline-flex;
  margin: 0;
  padding: 0 0 30px;
  @include breakpoint($large) {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 0;
  }

  .tabs {
    @include breakpoint($large) {
      flex-wrap: wrap;
      flex-direction: column;
    }
    display: flex;
    flex-direction: row;
    &:nth-child(1) {
      .iconTab {
        @include breakpoint($large){
          border-radius: 5px 5px 0 0;
        }
        border-radius: 5px 0 0 5px;

      }
      .iconBtn {
        &:hover {
          background-color: #ff52f3;
          background-image: unset;
        }
        background-image: linear-gradient(
                        1deg,
                        rgba(255, 82, 243, 0.98) 0%,
                        rgba(13, 0, 61, 0.33) 19%,
                        rgba(31, 5, 121, 0.19) 45%,
                        rgba(28, 0, 50, 0.12) 94%
        );
      }
    }
    &:nth-child(2) {
      .iconTab {
        span{
          @include breakpoint($large){
            font-size: 2rem;
            line-height: 2rem;
          }
          font-size: 3rem;
          line-height: 4rem;
        }
      }
      .iconBtn {
        &:hover {
          background-color: #4ef0ff;
          background-image: unset;
        }
        background-image: linear-gradient(
                        1deg,
                        rgba(78, 240, 255, 0.98) 0%,
                        rgba(13, 0, 61, 0.33) 19%,
                        rgba(31, 5, 121, 0.19) 45%,
                        rgba(28, 0, 50, 0.12) 94%
        );
      }
    }
    &:nth-child(3) {
      .iconTab {
        span{
          @include breakpoint($large){
            font-size: 2rem;
            line-height: 2rem;
          }
          font-size: 3rem;
          line-height: 4rem;
        }
      }
      .iconBtn {
        &:hover {
          background-color: #ff1e74;
          background-image: unset;
        }
        background-image: linear-gradient(
                        1deg,
                        rgba(255, 69, 124, 0.98) 0%,
                        rgba(13, 0, 61, 0.33) 24%,
                        rgba(31, 5, 121, 0.19) 45%,
                        rgba(28, 0, 50, 0.12) 94%
        );
      }
    }
    &:nth-child(4) {
      .iconTab {
        span{
          @include breakpoint($large){
            font-size: 2rem;
            line-height: 2rem;
          }
          font-size: 3rem;
          line-height: 4rem;
        }
      }
      .iconBtn {
        &:hover {
          background-color: #ffc40e;
          background-image: unset;
        }
        background-image: linear-gradient(
                        1deg,
                        rgba(255, 196, 14, 0.98) 0%,
                        rgba(13, 0, 61, 0.33) 16%,
                        rgba(31, 5, 121, 0.19) 45%,
                        rgba(28, 0, 50, 0.12) 94%
        );
      }
    }
    &:nth-child(5) {
      .iconTab {
        span{
          @include breakpoint($large){
            font-size: 2rem;
            line-height: 2rem;
          }
          font-size: 3rem;
          line-height: 4rem;
        }
      }
      .iconBtn {
        &:hover {
          background-color: rgba(68, 255, 0, 0.98);
          background-image: unset;
        }
        background-image: linear-gradient(
                        1deg,
                        rgba(68, 255, 0, 0.98) 0%,
                        rgba(13, 0, 61, 0.33) 19%,
                        rgba(31, 5, 121, 0.19) 45%,
                        rgba(28, 0, 50, 0.12) 94%
        );
      }
    }
    &:nth-child(6) {
      .iconTab {
        @include breakpoint($large){
          border-radius: 0 0 5px 5px;
        }
        span{
          @include breakpoint($large){
            font-size: 2rem;
            line-height: 2rem;
          }
          font-size: 3rem;
          line-height: 4rem;
        }
        border-radius: 0 5px 5px 0;
      }
      .iconBtn {
        &:hover {
          background-color: #45bbff;
          background-image: unset;
        }
        background-image: linear-gradient(
                        1deg,
                        rgba(69, 187, 255, 0.98) 0%,
                        rgba(13, 0, 61, 0.33) 19%,
                        rgba(31, 5, 121, 0.19) 45%,
                        rgba(28, 0, 50, 0.12) 94%
        );
      }
    }
    .iconTab {
      @include breakpoint($large){
        background-image: url(../../build/images/patternBG_l.png),url(../../build/images/patternBG_r.png),linear-gradient(to bottom, #bfbfbf 0%,#616161 48%,#000000 48%,#000000 100%);
        background-size: contain;
        background-position: left, right;
        box-sizing: content-box;
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to bottom, #ffffff 0%,#ffe5a0 47%,#ffe5a0 48%,#341607 48%,#381607 56%,#c79346 83%,#ffeab5 100%);
        border-image-slice: 1;
      }
      &.active {
        @include breakpoint($large){
          background-image: url(../../build/images/patternBG_l.png),url(../../build/images/patternBG_r.png),linear-gradient(to bottom, #bfbfbf 0%,#616161 48%,#000000 48%,#000000 100%);
          background-size: contain;
          background-position: left, right;
          box-sizing: content-box;
          border-width: 2px;
          border-style: solid;
          border-image: linear-gradient(to bottom, #ffffff 0%,#ffe5a0 47%,#ffe5a0 48%,#341607 48%,#381607 56%,#c79346 83%,#ffeab5 100%);
          border-image-slice: 1;
        }
        border: unset;
        background-image: url(../../build/images/itemTag.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        p {
          color: $mainText;
          text-shadow: 0px 0px 3px rgba(0,0,0,.8);
        }
      }
      @include breakpoint($large) {
        padding: 6px;
        max-width: 100%;
        justify-content: center;
        flex-direction: row;
        //background-image: linear-gradient(0deg, #2f00d5 0%, #000000 100%);
        flex: 0 0 auto;
      }
      padding: 20px;
      background-image: url(../../build/images/itemTag.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      max-width: 64px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      p {
        @include breakpoint($large) {
          writing-mode: unset;
          margin-bottom: 0;
        }
        font-size: 24px;
        text-shadow: 0px 0px 3px rgba(0,0,0,.8);
        color: #fff3a7;
        writing-mode: vertical-lr;
      }
      span {
        @include breakpoint($large) {
          font-size: 2rem;
          margin-bottom: unset;
          text-shadow: 0px 0px 3px rgba(0,0,0,.8);
        }
        margin-bottom: 10px;
        color: #fff3a7;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        max-width: 64px;
        font-size: 4rem;
      }
      cursor: pointer;
      flex: 0 0 60px;
      //background-image: linear-gradient(0deg, #2f00d5 0%, #000000 100%);
    }

    .contentBox {
      @include breakpoint($large) {
        flex-direction: column;
        max-width: 100%;
      }
      border: 1px solid #f2f42d;
      flex: 1 1 auto;
      background-color: black;
      padding: 5px 0 5px 5px;
      display: flex;
      max-width: 800px;
      justify-content: space-between;
      align-items: center;

      .contentIMG {
        @include breakpoint($large) {
          flex: 1 1 auto;
          max-width: 100%;
        }
        flex: 1 1 68%;
      }

      .iconBox {
        @include breakpoint($large) {
          flex-wrap: nowrap;
        }
        flex: 1 1 32%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background-color: black;
        .iconBtn {
          span {
            &:hover {
              color: white;
              text-shadow: 1px 1px 3px black;
              background: unset;
              -webkit-background-clip: unset;
              -webkit-text-fill-color: unset;
            }

            color: #a68322;
            font-size: 6rem;
            background: linear-gradient(
                            180deg,
                            #fdf8a2 3%,
                            #f4d97a 47%,
                            #eec462 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          flex: 0 1 50%;
          max-height: 100px;
          padding: 20px 5px;
          margin: 3px;
          border: 1px solid $darkGray;
          border-radius: 8px;
        }
      }
    }
  }
}
