.BottomNav {
  &--noBG {
    .btnGroup {
      .home {
        bottom: 2px!important;
      }
    }
    border: none;
    background-image: unset;
    bottom: -2px;
  }
  .btnGroup {
    &--panel {
      justify-content: space-evenly;
    }
    .home {
      border-radius: 50px;
      box-shadow: 0 1px 6px rgba(0,0,0,0.85);
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 68px;
      z-index: 101;
    }

    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    .btnOutLine {
      span {
        font-size: 1.6rem;
      }
      cursor: pointer;
      &--bgRed {
        border-radius: 0 20px 0 0;
        border-top: 2px solid $bottomNavBorder;
        border-right: 2px solid $bottomNavBorder;
        height: 68px;

        //background-color: #4f00d2;
        background-image: linear-gradient(
                        0deg,
                        #402f80 0%,
                        #472265 33%,
                        #1e1549 77%
        );


      }
      &--bgYellow {
        border-top: 2px solid $bottomNavBorder;
        border-left: 2px solid $bottomNavBorder;
        border-radius: 20px 0 0 0;
        height: 68px;
        background-image: linear-gradient(
                        0deg,
                        #402f80 0%,
                        #472265 33%,
                        #1e1549 77%
        );
      }

      
      flex: 1 1 50%;
      color: $mainText;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  a {
    &:active {
      color: #ffcf4c;
    }
    &:hover {
      color: #ffcf4c;
    }
    span {
      &:hover {
        background: linear-gradient(
                        180deg,
                        #fdf8a2 3%,
                        #f4d97a 47%,
                        #eec462 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      line-height: 30px;
      color: inherit;
      font-size: 1.8rem;
    }
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
  }

  border-top: 2px solid $bottomNavBorder;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  height: 68px;
  padding: 0;
  background-image: linear-gradient(
                  270deg,
                  #402f80 0%,
                  #472265 33%,
                  #1e1549 77%
  );
}
