
.btn {
  &:focus, .focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
  &:hover {
    color: #212529;
    text-decoration: none;
  }
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-danger {
  &:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
  }
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-secondary {
  &:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
  }
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-warning {
  &:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
  }
  &:focus {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
    box-shadow: 0 0 0 0.2rem rgba(222,170,12,.5);
  }
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-primary {
  &:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
  &:focus,.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
  }
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-dark {
  color: #343a40;
  border-color: #343a40;
}

.btn-outline-light {
  &:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-group-sm>.btn, .btn-sm {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

