.drawerBox {
  &.active {
    right: 0;
  }
  max-width: 182px;
  padding: 20px;
  position: fixed;
  z-index: 999;
  background-color: black;
  right: -182px;
  top: 8%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  .TrapezoidTag {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -44px;
    background-color: #00adff;
    height: calc(223px - 44px);
    width: 44px;
    color: black;
    background-image: linear-gradient(
                    180deg,
                    #827610 3%,
                    #ebdb5a 47%,
                    #805d24 100%
    );

    .triangleTopRight {
      position: absolute;
      bottom: -30px;
      width: 0;
      height: 0;
      border-top: 30px solid #805d24;
      border-left: 44px solid transparent;
    }
    .triangleBottomRight {
      position: absolute;
      top: -30px;
      width: 0;
      height: 0;
      border-bottom: 30px solid #827610;
      border-left: 44px solid transparent;
    }
    p {
      color: black;
      writing-mode: vertical-lr;
    }
    span {
      font-size: 2rem;
    }
  }
  .infoBox {
    &:last-child {
      border-bottom: unset;
    }
    img {
      margin-bottom: 10px;
      max-width: 64px;
    }
    p {
      color: #fff;
      text-align: center;
      margin-bottom: 10px;
    }

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #979797;
  }
}


