.franchise {
  &Box {
    @include breakpoint($iphone) {
      padding: 20px;
    }
    @include breakpoint($ipad) {
      flex-wrap: wrap;
    }
    padding: 0 40px 40px;
    display: flex;
    justify-content: space-between;

    .franchiseItem {
      &--full {
        flex: 1 1 100%;
      }

      @include breakpoint($ipad) {
        flex: 1 1 100%;
      }

      .rayGroup {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;

        .ray {
          @include breakpoint($iphone) {
            background-repeat: no-repeat;
            flex: 1 1 auto;
            width: 33.33%;
            //height: 110px;
          }
          color: $color-white;
          background-position: center;
          background-size: contain;
          height: 123px;
          width: 123px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          line-height: 1.6;
        }
      }

      ol {
        li {
          text-align: justify;
          margin-left: 20px;
          list-style: decimal;
        }

        &.mt-0 {
          margin-top: 0;
        }

        //margin-top: 30px;
        color: $color-white;
        line-height: 1.6;
      }

      ul {
        display: block;

        li {
          text-align: justify;
        }

        margin-top: 30px;
        color: $color-white;
        line-height: 1.6;
      }

      p {
        color: $color-white;
        line-height: 1.5;
      }

      .table {
        color: $color-white;
        margin-bottom: 1.28rem;

        th, td {
          text-align: center;
        }
      }

      .title {
        text-align: center;
        padding: 10px;
        color: #000;
        background: $mainGradient;
        margin-bottom: 30px;
      }

      flex: 0 1 48.5%;
      //border: 1px solid $color-mainYellow;
    }
  }

  &__intro {
    &--center {
      text-align: center;

      .links {
        @include breakpoint($ipad) {
          //flex-direction: column;
        }
        padding-bottom: 10px;
        //max-width: 600px;
        margin: 10px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .titleLink {
          @include breakpoint($ipad) {
            padding: 8px 15px;
            flex: 0 1 48%;
            border-radius: 0.5rem;
          }
          @include breakpoint($iphone5) {
            padding: 8px;
            flex: 0 1 49%;
            border-radius: 0.5rem;
          }

          .title {
            @include breakpoint($ipad) {
              width: 100%;
              justify-content: space-between;
              font-size: 1.0rem;
              line-height: 1.25;
              text-align: justify;
            }

            br {
              @include breakpoint($ipad) {
                display: block;
              }
              display: none;
            }

            span {
              @include breakpoint($ipad) {
                font-size: 2.2rem;
              }
              font-size: 1.375rem;
            }

            display: flex;
            align-items: center;
            margin: 0;
            color: $mainText;
          }

          display: flex;
          justify-content: center;
          align-items: center;
          flex: 0 1 48%;
          text-decoration: none;
          background-image: $btnBGGradient;
          border: 1px solid $color-mainYellow;
          border-radius: 2.625rem;
          font-size: 1.5rem;
          padding: 20px;
        }
      }

    }

    @include breakpoint($iphone) {
      padding: 20px;
    }
    padding: 40px;

    .title {
      color: $color-mainYellow;
      font-size: 1.5rem;
      margin-bottom: 15px;
    }

    .desc {
      color: $color-white;
      line-height: 1.6;
    }
  }

  &__btnTitle {
    &--full {
      flex: 1 1 100%;
    }

    &.active {
      background-image: $mainGradient;
      color: $color-black;

      span {
        background: $aboutItem;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &:hover {
      cursor: pointer;
      background-image: $mainGradient;
      color: $color-black;

      span {
        background: $aboutItem;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    @include breakpoint($ipad) {
      flex: 1 1 100%;
      &:first-child {
        margin-bottom: 15px;
      }
    }
    flex: 0 1 48%;
    padding: 5px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid $color-mainYellow;
    color: $color-mainYellow;

    span {
      font-size: 2rem;
      background: $mainGradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__btnSec {
    @include breakpoint($iphone) {
      padding: 20px;
    }
    padding: 0 40px 40px;
    display: flex;
    justify-content: center;

    .centralize {
      @include breakpoint($ipad) {
        flex-wrap: wrap;
      }
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 670px;

    }
  }

  &__Nav {
    @include breakpoint($iphone) {
      padding: 20px;
    }
    background-image: url(../../build/images/bgPattern_dark.png), $navBKGradient;
    background-size: 20%, cover;
    border-bottom: 1px solid $lightYellow;
    padding: 40px;
    display: flex;
    justify-content: center;

    .centralize {
      @include breakpoint($ipad) {
        flex-wrap: wrap;
      }
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 670px;

    }
  }

  .panelGroup {
    .panel {
      &:first-child {
        display: block;
      }

      display: none;
    }
  }
}