.container, .container-lg, .container-md, .container-sm, .container-xl {
  @include breakpoint(min-width 1200px) {
    max-width: 1140px;
  }
}

.container, .container-lg, .container-md, .container-sm {
  @include breakpoint(min-width 992px) {
    max-width: 960px;
  }
}

.container, .container-md, .container-sm {
  @include breakpoint(min-width 768px) {
    max-width: 720px;
  }
}

.container, .container-sm {
  @include breakpoint(min-width 576px) {
    max-width: 540px;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @include breakpoint(min-width 768px) {
    max-width: 720px;
  }
  @include breakpoint(min-width 576px) {
    max-width: 540px;
  }
  @include breakpoint(min-width 992px) {
    max-width: 960px;
  }
  @include breakpoint(min-width 1200px) {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-sm-3 {
  @include breakpoint(min-width 576px){
    flex: 0 0 25%;
    max-width: 25%;
  }

}
.col-sm-9 {
  @include breakpoint(min-width 576px){
    flex: 0 0 75%;
    max-width: 75%;
  }
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
