.itemBox {
  @include breakpoint($large) {
    flex-direction: column;
  }
  display: flex;
  align-content: center;
  padding: 20px;
  .itemColumn {
    @include breakpoint($large) {
      flex: 1 1 auto;
      img {
        width: 100%;
      }
    }
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    .title {
      font-size: 1.375rem;
      color: $color-mainYellow;
      margin-bottom: 30px;
    }
    p {
      color: $color-white;
      line-height: 1.875;
      font-weight: 300;
    }
  }
}
