.maintenanceContainer {

  padding: 20px;

  .infoBox {
    .Title {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .titleGroup {
        flex: 1 1 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include breakpoint($ipad) {
          margin-bottom: 20px;
        }

        .subject {
          &__withRed {
            display: block;
          }

          br {
            display: none;
            @include breakpoint($ipad) {
              display: block;
            }
          }

          &--white {
            color: #fff;
            text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.65);
          }

          &--solidBox {
            background-color: black;
            padding: 20px;
            color: $color-mainLightBlue;
            font-size: 2rem;
            font-weight: 100;
          }

          color: $lightGray;
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: flex-end;
          margin: 20px 10px;
          font-size: 1.2rem;
          white-space: nowrap;
          font-weight: 200;
          letter-spacing: $ls-content;


          small {
            font-size: 0.8rem;
          }
        }

        bar {
          flex: 1 1 60%;
          border: 1px solid black;
          height: 1px;
          width: 100%;

        }
      }

      p {
        color: $lightGray;
        padding: 20px 30px;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        border-radius: 60px;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.5;
        @include breakpoint($ipad) {
          font-size: 1.2rem;
        }
        @include breakpoint($iphone) {
          font-size: 0.9rem;
        }

        br {
          display: none;
          @include breakpoint($ipad) {
            display: block;
          }
        }
      }

      svg {
        margin-right: 15px;
        @include breakpoint($ipad) {
          margin: 0 auto 15px;
        }
      }
    }
    .item {
      margin-bottom: 20px;
      .brand {
        padding: 8px 20px;
        border-radius: 8px;
        background-image: linear-gradient(180deg,#fdf8a2 3%,#f4d97a 47%,#eec462 100%);
        color: $color-black;
        margin-bottom: 15px;
        text-align: center;
      }
      p {
        color: $lightGray;
        text-align: center;
        margin-bottom: 10px;
      }
    }

    padding: 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    img {
      margin-bottom: 10px;
      max-width: 64px;
    }

  }
}