.marqueeBox {
  overflow: hidden;
  position: relative;
  background-color: black;
  height: 25px;
  span {
    padding: 3px;
    position: absolute;
    z-index: 100;
    color: $mainText;
    background-color: black;
  }
  .marqueeDeskTop {
    padding-top: 3px;
    font-size: 1rem;
    white-space: nowrap;
    color: $mainText;
  }
  .marquee {
    padding-top: 3px;
    font-size: 1rem;
    white-space: nowrap;
    color: $mainText;
  }
}