.mobileModal-container {
  &.show-mobileModal {
    display: block;
  }

  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.mobileModal {
  &--register {
    max-width: 600px;
    width: 100%;
    background-color: black;
  }
  &--recommendation {
    max-width: 600px;
    width: 100%;
    background-color: black;
  }

  &--betRecords {
    max-width: 600px;
    width: 100%;
    background-color: black;
  }

  &--memberNotification {
    max-width: 600px;
    width: 100%;
    background-color: black;
  }

  &--modifyProfile {
    max-width: 600px;
    width: 100%;
    background-color: black;
  }

  &--bonusRecords {
    max-width: 600px;
    width: 100%;
    background-color: black;
  }

  .mobileModal-header {
    h3 {
      text-align: center;
      margin: 0;
    }

    background: $modalHeaderGradient;
    color: #fff;
    padding: 15px;
  }

  .mobileModal-content {
    padding: 20px;

    .mobileModal-form {
      .modalBtnGroup {
        flex: 1 1 100%;
        display: flex;
        justify-content: space-between;
        button {
          padding: 10px;
          flex: 0 1 49%;
        }
      }
      .inputWithBtn {
        display: flex;
        margin-top: 20px;
        margin-bottom: 10px;
      }

      label {
        display: block;
        margin-bottom: 5px;
      }

      div {
        margin: 15px 0;
      }

      .form-input {
        padding: 8px;
        width: 100%;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
    }
  }

  background-color: $color-modalBody;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 90%;
}

.close-btn {
  span {
    color: $color-white;
  }

  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 10px;
}

button:focus {
  outline: none;
}

input[type='submit'] {
  background-color: $color-mainLightBlue;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 8px 12px;
  width: 100%;
}

.modalBody {
  .line {
    height: 1px;
    width: 100%;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.35);
  }

  &__BetRecordsLayout {
    .switchTabsNav {
      padding: 0 0 20px;
      display: flex;
      justify-content: space-around;

      .tab {
        &.active {
          color: white;
          border-bottom: 3px solid $color-mainLightBlue;
        }

        color: $darkGray;
        flex: 0 1 50%;
        padding: 20px 0;
        text-align: center;
      }
    }

    .panelsGroup {
      .panel {
        &:first-child {
          display: block;
        }
        display: none;
        .btnGroup {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;

          .btn {
            flex: 0 1 24%;
          }
        }
      }
    }

    background-color: black;
    padding: 20px;
  }

  &__InfoLayout {
    background-color: black;
    display: flex;

    form {
      .title {
        text-align: center;
        margin-bottom: 20px;
        color: $lightYellow;
      }

      flex: 1 1 50%;

      label {
        .red {
          color: $mainRed;
        }

        .blue {
          color: $color-mainLightBlue;
        }

        color: white;
        font-weight: 300;
      }

      .input_box {
        //width: 270px;
        height: 38px;
        float: right;
        padding: 0 8px;
        box-sizing: border-box;
        color: #000;
        border: 1px solid #e5e5e5;
      }

      .btn_ver_code {
        &__message {
          background-color: $color-mainLightBlue;
          color: $color-white;
        }

        width: 55px;
        height: 27px;
        background-color: #aaa;
        text-align: center;
        line-height: 27px;
        border-radius: 2px;
        position: absolute;
        top: 5px;
        right: 22px;
        cursor: default;
      }
    }
  }

  p {
    margin: 20px auto;
    color: $color-mainLightBlue;
    text-align: center;
  }

  .formGroup {
    .userAccount,
    .userPassword {
      input {
        padding: 30px;
      }
      margin-bottom: 15px!important;
      position: relative;
    }

    .userAccount {
      &:before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: '\f007';
        font-size: 16px;
        position: absolute;
        color: $color-mainLightBlue;
        left: 6px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .userPassword {
      &:before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: '\f023';
        font-size: 16px;
        position: absolute;
        color: $color-mainLightBlue;
        left: 6px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    display: flex;
    flex-direction: column;

    input {
      padding: 0.25rem 1.375rem;
      flex: 1 1 100%;
      width: 100%;
      display: block;
      height: calc(1.5em + 0.75rem + 2px);
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }

  padding: 15px 10px 10px;
}
