.navbar {
  &-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  &-collapse {
    flex-grow: 1;
    align-items: center;
  }
  &-expand-lg {
    .navbar-collapse {
      @include breakpoint(min-width 992px){
        display: flex;
        flex-basis: auto;
      }
    }
    @include breakpoint(min-width 992px){
      flex-flow: row nowrap;
      justify-content: flex-start;

    }
  }
}