$margin: 0;
$bgWhite: white;
.stratingPlayMobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 15px 0;

  &_1st {
    width: 100%;
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;

    .play01 {
      border-radius: 12px;
      height: 280px;
      background-position: center;
      background-size: 200%;
      flex: 0 1 48%;
      margin: $margin;
      position: relative;

      .fanBingBing {
        .body {
          height: 100%;
        }

        .head {
          height: 240px;
          top: -78px;
          position: absolute;
          left: 78%;
          transform: translateX(-50%);
        }

        .elbow {
          .hand {
            top: -78px;
            position: absolute;
            left: 90%;
            transform: translateX(-50%);
            height: 90px;
          }
          img {
            height: 100%;
          }
          height: 115px;
          bottom: 53px;
          position: absolute;
          left: 68%;
          transform: translateX(-50%);
        }


        height: 222px;
        bottom: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%)
      }

      .title {
        max-width: 130px;
        bottom: 10px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%)
      }
    }

    .play02 {
      flex: 0 1 48%;
      margin: $margin;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &_1 {
        flex: 0 1 48%;
        border-radius: 12px;
        background-position: center;
        position: relative;

        img {
          height: 130px;
          bottom: 0;
          position: absolute;
        }
      }

      &_2 {
        flex: 0 1 48%;
        border-radius: 12px;
        background-position: center;
        position: relative;

        img {
          height: 130px;
          right: -6px;
          bottom: 0;
          position: absolute;
        }
      }
    }
  }

  &_2nd {
    .play04 {
      height: 135px;
      flex: 0 1 48%;
      border-radius: 12px;
      background-position: center;
      position: relative;

      img {
        height: 145px;
        right: 0;
        bottom: 0;
        position: absolute;
      }
    }

    .play05 {
      height: 135px;
      flex: 0 1 48%;
      border-radius: 12px;
      background-position: center;
      position: relative;

      img {
        height: 145px;
        right: 0px;
        bottom: 0;
        position: absolute;
      }
    }

    margin-top: 15px;
    width: 100%;
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
  }

  &_3nd {
    .play06 {
      position: relative;
      height: 135px;
      flex: 0 1 100%;
      border-radius: 12px;
      background-image: url(../../build/images/mobile/mainpage/BGpattern90.png);
      background-size: cover;
      background-position: center;

      img {
        height: 145px;
        right: 20px;
        bottom: 0;
        position: absolute;
      }
    }

    margin-top: 15px;
    width: 100%;
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
  }
}