$margin: 0;
$bgWhite: white;
.startingPlayMobile {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 15px 0;

  &_1st {
    width: 100%;
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;

    .play01 {
      border-radius: 12px;
      height: 280px;
      background-position: center;
      background-size: 200%;
      flex: 0 1 48%;
      margin: $margin;
      position: relative;

      .playerBox {
        @include breakpoint($iphone8){
          width: 166px;
        }
        @include breakpoint($iphone5){
          width: 139px;
        }
        position: absolute;
        overflow: hidden;
        height: 296px;
        width: 184px;
        bottom: 0;
        right: 0;
        border-radius: 12px;
        #player-container {
          @include breakpoint($pixel2xl){
            width: 75vw;
            bottom: -165px;
          }
          @include breakpoint($iphone8){
            width: 75vw;
            bottom: -96px;
          }
          @include breakpoint($iphoneX){
            bottom: -144px;
          }
          @include breakpoint($iphone5){
            width: 85vw;
            bottom: -58px;
          }
          width: 70vw;
          height: 70vh;
          position: absolute;
          bottom: -126px;
          left: 50%;
          transform: translateX(-41%);
        }
      }


      .fanBingBing {
        .body {
          height: 100%;

        }

        .head {
          .eye_closed {
            position: absolute;
            height: 100%;
            z-index: 2;
          }

          .head_main {
            position: absolute;
            height: 100%;
          }

          height: 220px;
          width: 197.06px;
          top: -70px;
          position: absolute;
          left: 78%;
          transform: translateX(-50%);
        }

        .elbow {
          .hand {
            top: -78px;
            position: absolute;
            left: 90%;
            transform: translateX(-50%);
            height: 90px;
          }

          img {
            height: 100%;
          }

          height: 105px;
          bottom: 50px;
          position: absolute;
          left: 67%;
          transform: translateX(-50%);
        }

        bottom: 0;
        height: 212px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%)
      }

      .pokerCoin {
        @include breakpoint($iphone8) {
          max-width: 210px;
          left: -5px;
        }
        z-index: 10;
        max-width: 230px;
        left: -11px;
        top: -50px;
        transform: translateX(-50%);
        position: absolute;
        right: -21%;
      }

      .title {
        max-width: 130px;
        bottom: 10px;
        position: absolute;
        right: 0;
        //left: 50%;
        //transform: translateX(-50%);
      }
    }

    .play02 {
      flex: 0 1 48%;
      margin: $margin;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &_1 {
        flex: 0 1 48%;
        border-radius: 12px;
        background-position: center;
        position: relative;

        .title {
          height: 35px;
          right: 3px;
          bottom: 10px;
          position: absolute;
          z-index: 2;
        }

        .playerBox {
          @include breakpoint($iphone8){
            width: 166px;
          }
          @include breakpoint($iphone5){
            width: 139px;
          }
          position: absolute;
          overflow: hidden;
          height: 150px;
          width: 184px;
          bottom: 0;
          right: 0;
          border-radius: 12px;
          #player-container--sport {
            @include breakpoint($pixel2xl){
              width: 75vw;
              bottom: -176px;
            }
            @include breakpoint($iphone8){
              width: 60vw;
              bottom: -106px;
            }
            @include breakpoint($iphoneX){
              width: 60vw;
              bottom: -141px;
            }
            @include breakpoint($iphone5){
              width: 80vw;
              bottom: -95px;
            }
            width: 60vw;
            height: 50vh;
            position: absolute;
            bottom: -129px;
            left: 50%;
            transform: translateX(-47%);
          }
        }

        .stage {
          border-radius: 8px;
          overflow: hidden;
          height: 150px;
          max-width: 185.39px;
          width: 100%;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0px;
          position: absolute;

          .lebron {
            .lebron_body {
              position: relative;
              height: 110px;
              bottom: 0;
              left: 50%;
              transform: translateX(-60%);
            }

            .lebron_H1 {
              position: absolute;
              height: 49px;
              top: -37px;
              left: 50%;
              transform: translateX(-82%);
            }

            .lebron_H2 {
              position: absolute;
              height: 55px;
              top: -38px;
              left: 50%;
              transform: translateX(-70%);
            }

            .lebron_LH {
              position: absolute;
              height: 80px;
              top: 10%;
              right: -16px;
              transform: translateX(0%);
              z-index: -1;
            }

            .lebron_RH {
              position: absolute;
              height: 94px;
              top: 12%;
              left: -5px;
              transform: translateX(0%);
              z-index: 1;
            }

            height: 110px;
            width: 120px;
            left: 10%;
            bottom: -42px;
            position: relative;
            z-index: 1;
          }

          .startBG {
            height: 142px;
            left: 50%;
            transform: translateX(-58%);
            bottom: -16px;
            position: absolute;
            z-index: 0;
          }
        }

      }

      &_2 {
        flex: 0 1 48%;
        border-radius: 12px;
        background-position: center;
        position: relative;

        .title {
          height: 35px;
          right: 3px;
          bottom: 10px;
          position: absolute;
          z-index: 2;
        }

        .playerBox {
          @include breakpoint($iphone8){
            width: 166px;
          }
          @include breakpoint($iphone5){
            width: 139px;
          }
          position: absolute;
          overflow: hidden;
          height: 150px;
          width: 184px;
          bottom: 0;
          right: 0;
          border-radius: 12px;
          #player-container--elec {
            @include breakpoint($pixel2xl){
              width: 65vw;
              bottom: -145px;
            }
            @include breakpoint($iphone8){
              width: 65vw;
              bottom: -106px;
            }
            @include breakpoint($iphoneX){
              width: 65vw;
              bottom: -140px;
            }
            @include breakpoint($iphone5){
              width: 70vw;
              bottom: -77px;
            }
            width: 60vw;
            height: 50vh;
            position: absolute;
            bottom: -120px;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        .stage {
          border-radius: 8px;
          overflow: hidden;
          height: 141px;
          max-width: 185.39px;
          width: 110%;
          left: 50%;
          transform: translateX(-50%);
          bottom: 0px;
          position: relative;

          .roullet {
            height: 126px;
            left: 16%;
            bottom: 0px;
            position: absolute;
            z-index: 0;
          }

          .chips {
            height: 132px;
            left: 4%;
            //transform: translateX(-51%);
            bottom: 4px;
            position: absolute;
            z-index: 4;
          }

          .poker {
            @include breakpoint($iphone8) {
              width: 90%;
            }
            height: 115px;
            width: 100%;
            bottom: 0px;
            position: absolute;
            z-index: 5;
          }

          .Jackpot {
            height: 100px;
            left: 13%;
            //transform: translateX(-47%);
            bottom: 27px;
            position: absolute;
            z-index: 5;
          }
        }
      }
    }
  }

  &_2nd {
    .play04 {
      height: 135px;
      flex: 0 1 48%;
      border-radius: 12px;
      background-position: center;
      position: relative;

      .title {
        height: 38px;
        right: 5px;
        bottom: 3px;
        position: absolute;
        z-index: 2;
      }

      .playerBox {
        @include breakpoint($iphone8){
          width: 166px;
        }
        @include breakpoint($iphone5){
          width: 139px;
        }
        position: absolute;
        overflow: hidden;
        height: 150px;
        width: 184px;
        bottom: 0;
        right: 0;
        #player-container--bingo {
          @include breakpoint($pixel2xl){
            width: 55vw;
            bottom: -132px;
          }
          @include breakpoint($iphone8){
            width: 55vw;
            bottom: -98px;
          }
          @include breakpoint($iphoneX){
            width: 55vw;
            bottom: -132px;
          }
          @include breakpoint($iphone5){
            width: 59vw;
            bottom: -74px;
          }
          width: 53vw;
          height: 50vh;
          position: absolute;
          bottom: -111px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .stage {
        border-radius: 8px;
        overflow: hidden;
        height: 141px;
        max-width: 185.39px;
        width: 110%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0px;
        position: absolute;

        .lotteryTicket01 {
          height: 126px;
          left: 24%;
          transform: translateX(-74%);
          bottom: 15px;
          position: absolute;
          z-index: 0;
        }

        .lotteryTicket02 {
          height: 132px;
          left: 32%;
          transform: translateX(-44%);
          bottom: 6px;
          position: absolute;
          z-index: 1;
        }

        .ColoredBalls_N3 {
          height: 63px;
          left: 40%;
          transform: translateX(-30%);
          bottom: 30px;
          position: absolute;
          z-index: 2;
        }

        .ColoredBalls_N5 {
          height: 100px;
          left: 5%;
          transform: translateX(-93%);
          bottom: 14px;
          position: absolute;
          z-index: 3;
        }

        .coins {
          height: 67px;
          left: 28%;
          transform: translateX(-47%);
          bottom: 3px;
          position: absolute;
          z-index: 4;
        }
      }
    }

    .play05 {
      height: 135px;
      flex: 0 1 48%;
      border-radius: 12px;
      background-position: center;
      position: relative;

      .title {
        height: 38px;
        right: 5px;
        bottom: 3px;
        position: absolute;
        z-index: 2;
      }

      .playerBox {
        @include breakpoint($iphone8){
          width: 166px;
        }
        @include breakpoint($iphone5){
          width: 139px;
        }
        position: absolute;
        overflow: hidden;
        height: 150px;
        width: 184px;
        bottom: 0;
        right: 0;
        #player-container--fish {
          @include breakpoint($pixel2xl){
            width: 53vw;
            bottom: -134px;
          }

          @include breakpoint($iphone8){
            width: 50vw;
            bottom: -89px;
          }
          @include breakpoint($iphoneX){
            width: 50vw;
            bottom: -125px;
          }
          @include breakpoint($iphone5){
            width: 55vw;
            bottom: -69px;
          }
          width: 50vw;
          height: 47vh;
          position: absolute;
          bottom: -111px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .stage {
        @include breakpoint($iphone8) {
          max-width: 168px;
        }
        border-radius: 8px;
        overflow: hidden;
        height: 141px;
        max-width: 185.39px;
        width: 110%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0px;
        position: absolute;

        .shark {
          .sharkRightHand {
            position: absolute;
            top: 66px;
            right: 68px;
            z-index: 10;
            height: 60px;
            width: 47px;
          }

          .rocket {
            position: absolute;
            z-index: 2;
            top: 46px;
            right: -4px;
            background-image: url(../../build/images/fish/rocket.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
            height: 80px;
            width: 95px;
          }

          background-image: url(../../build/images/fish/shark.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: 70px 6px;
          height: 134px;
          width: 100%;
          right: 12%;
          bottom: 6px;
          position: absolute;
          z-index: 1;
        }

        .nimo {
          height: 63px;
          transform: translateX(-113%);
          bottom: 2px;
          position: absolute;
          z-index: 2;
        }

      }
    }

    margin-top: 15px;
    width: 100%;
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
  }

  &_3nd {
    .play06 {
      position: relative;
      height: 135px;
      flex: 0 1 100%;
      border-radius: 12px;
      background-image: url(../../build/images/mobile/mainpage/BGpattern90.png);
      background-size: cover;
      background-position: center;

      .title {
        height: 42px;
        right: 5px;
        top: 3px;
        position: absolute;
        z-index: 10;
      }

      .stage {
        border-radius: 8px;
        overflow: hidden;
        height: 150px;
        max-width: 385px;
        width: 110%;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0px;
        position: absolute;

        .man {
          height: 275px;
          right: 3%;
          transform: translateX(-5%);
          bottom: -131px;
          position: absolute;
          z-index: 4;
        }

        .beauty {
          @include breakpoint($iphone8) {
            left: 1%;
          }
          height: 227px;
          left: 0;
          transform: translateX(-50%);
          bottom: -82px;
          position: absolute;
          z-index: 8;
        }

        .Mahjong {
          height: 63px;
          left: 25%;
          transform: translateX(-119%);
          bottom: 2px;
          position: absolute;
          z-index: 9;
        }

        .card01 {
          height: 133px;
          left: 50%;
          transform: translateX(-50%);
          bottom: -5px;
          position: absolute;
          z-index: 1;
        }

        .chips {
          height: 100px;
          left: 38%;
          transform: translateX(-50%);
          bottom: -30px;
          position: absolute;
          z-index: 3;
        }
      }
    }

    margin-top: 15px;
    width: 100%;
    flex: 0 1 auto;
    display: flex;
    justify-content: space-between;
  }
}