.transferWallet {
  &_content {
    display: none;
  }

  border-radius: 3px;
  background-color: #f3ff8d;
  border: #6ad4e4;
  display: flex;
  flex-direction: column;
  // margin-bottom: 30px;
  .transferItem {
    &_sum {
      display: none;
      color: $color-white;
      background-color: #0091ff;
      border-radius: 0 0 3px 3px;
      border-bottom: 1px solid #0091ff;
    }

    font-size: 0.875rem;
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #6ad4e4;

    .transferTitle {
      flex: 0 1 35%;
      border-right: 1px solid #6ad4e4;
    }

    .transferValue {
      flex: 0 1 60%;
      text-align: right;
      padding-right: 15px;
    }
  }
}

.accountSelector {
  //display: none;
  top: 90px;
  max-height: 444px;
  overflow-y: scroll;
  left: 0;
  width: 50%;
  z-index: 1035;
  position: absolute;
  background-color: $lightBrown;
  &::-webkit-scrollbar {
    width: 12.34px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #0091ff;
    outline: #5f5f5f solid 1px;
  }
  &::-webkit-scrollbar-track {
    background-color: #151515;
  }

  .accountItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(145, 145, 145);

    &.selected {
      position: relative;
      &:after {
        position: absolute;
        content: url(../../build/images/dot-circle-solid.svg);
        font-weight: 900;
        font-size: 16px;
        height: 16px;
        width: 16px;
        color: #0091ff;
        right: 6px;
        top: 50%;
        transform: translateY(-50%);
        //width: 15px;
        //height: 15px;
        //border-radius: 10px;
      }
    }
  }
}
.accountSelector2 {
  @extend .accountSelector;
  .accountItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(145, 145, 145);

    &.selected {
      position: relative;
      &:after {
        position: absolute;
        content: url(../../build/images/dot-circle-solid.svg);
        height: 16px;
        width: 16px;
        font-weight: 900;
        font-size: 16px;
        color: #0091ff;
        right: 6px;
        top: 50%;
        transform: translateY(-50%);

      }
    }
  }
}

.overlayAccountSelector {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.65); /*dim the background*/
}
.overlayAccountSelector2 {
  @extend .overlayAccountSelector;
}

.value1,.value2 {
  padding: 5px 0;
  color: $color-mainYellow  ;
  text-align: right;
  font-size: .875rem;
}