.slick-prev {
  position: absolute;
  left: 0px;
  height: 60px;
  width: 40px;
  transform: translateY(0%);
  z-index: 100;
}

.slick-prev:before {
  display: block;
  color: #cccccc;
  font-size: 40px;
  content: '\f104';
  font-family: fontawesome;
  padding: 10px;
  background-color: black;
}

.slick-next {
  position: absolute;
  right: 0px;
  height: 60px;
  width: 40px;
  transform: translateY(0%);
  z-index: 100;
}

.slick-next:before {
  display: block;
  color: #cccccc;
  font-size: 40px;
  content: '\f105';
  font-family: fontawesome;
  padding: 10px;
  background-color: black;
}

.slick-dots li button:before {
  font-size: 12px;
  color: white;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  font-size: 12px;
  color: #c1c1c1;
}

.slick-dots li {
  margin: 0;
}

.slick-dots {
  bottom: 8px;
}

.slick-list {
  outline: none !important;
}

.slick-slide {
  outline: none !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}